input{
    background-color: grey;
}

.settings{
    
    /* display: flex; */
    /* justify-content: space-around; */
    
 
    background-color: white;
    height: 100vh;
    padding-top: 3.75rem;
    max-width: 1000px;
    margin: 0 auto;
}

.settingBox{
  
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    
}

.update-button{
    margin-bottom: 2rem;
}

.label-span{
    display: block;
    width:300px;
    margin: 0 auto;
}