.changeProfileDiv{
    width:100%;
}

.changeProfile{
    border:3px solid black;
    background-color: grey;
    /* max-width: 100%; */
   align-items: center;
    align-self: center;
    
   display: flex;
   justify-content: space-around;
}

.profile-pic{
    height:150px;
    width:150px;
    border:2px solid white;
}

.button-x:hover{
    cursor:pointer;
}

