.upload-pic{
    background-color: grey;
    /* display: flex;
    justify-content: space-around; */

    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}


label{
    color:black;
    background-color: red;
}


.imageLinkLabel{
   
    color:red;
  

}