.regularFeed{
    margin-top: 3.75rem;
    padding-top: 0rem;
    height: 97vh;
}

.tile-navigation{
    margin-top: 2rem;
}

.tile-navigation-mobile{
    margin-top: 0rem;
}

.sort-button{
    background-color: white;
    color:black;
    padding: 0.25rem ;
    margin: 0.75rem;
    border: none;
}

.sort-button:hover{
    color:blue;
}

.blue-sort-button{
    background-color: white;
    padding: 0.25rem ;
    margin: 0.75rem;
    color: blue;
    border:none;
}

