.chat{
    background-color: gainsboro;
    min-height: calc(100%-7rem);
    /* height: calc(100%-10vh); */
    width:70%;
    border:1px solid gainsboro;
    
    
}

.messagePartner{
    background-color: white;
    border-top:1px solid gainsboro;
    height:2.5rem;
    text-align: center;
    align-content: center;
    /* position: fixed; */
    width:100%;
    box-sizing: border-box;
    z-index: 100;
}

.back{
    width: 100px;
    display:inline ;
    vertical-align: middle;
    position: absolute;
    left: 2%;
    
}

.chat-mobile{
    width: 100%;
    
}

.person-title{
    display: inline;
    vertical-align: middle;
}