.profilePic{
    width: 200px;
    height: 200px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    margin-top: 1rem;
}

.ProfileInfo{
    /* margin-top: 80px; */
    padding-top:3.75rem;
}
.settings-name{
    display: inline;
    margin-right: 0.5rem;
    
    
    
}

.setting-link{
    margin: 1rem 0 1.5rem 0;
}