.searchMessage{
    align-items: center;
    border:1px solid gainsboro;
    box-sizing: border-box;
    position: fixed;
    width:30%;
    max-width: 900px;
    background-color: white;
    height:3.5rem;
    z-index: 50;
}

.seachboxMessage{
    margin: 2% 0;
    background-color: transparent;
    width:90%;
    border-radius: 5px;
    color:black;
}

.friendResult:hover{
    background-color: gray;
    cursor: pointer;
}

.friendTotal{
    position: absolute;
    border: 1px solid gainsboro;
    background-color: white;
    width: 30vw;
    
}

.friendResultImg{
    height: 30px;
    width: 30px;
    border-radius: 50%;
}

.friendResult{
    display: flex;
    justify-content: space-around;
}

.searchMessage-mobile{
    width:100%;
    max-width: none;
}

.friendTotal-mobile{
    width:100vw;
    
}