.sendMessage{
    background-color: gray;
    position:fixed;
    top:90vh;
    width:70vw;
    height: 10vh;
    align-content: center;
    max-width: 1176px;
    /* comment */
   
}

.sendmessageinput{
    width:90%;
    height:90%;
    border-radius: 5px;
    background-color: gainsboro;
    color: black;

}

.sendMessage-mobile{
    width:100vw;
}