.side{
    width:30%;
    /* margin-top: 3.5%;
    height:calc(100%-3.5%); */
    height:100%;
    position: relative;
    /* background-color: green; */
    
    /* border:2px solid green; */
    box-sizing: border-box;
    
}

.side-mobile{
    width:100%;
    
}
