.root {
    border: 1px solid gainsboro;
    box-shadow: 1px 1px 2px gainsboro;
    padding: 1rem 0;
    height: 85dvh;
    border-radius: 10px;
    /* margin-top: 1rem; */
    background-color: white;
    max-width: 1000px;
    margin: 2rem auto;
}
.videoWrapper {
    max-width: 800px;
    
    width: 100%;
    /* height: 250px; */
    /* border: 1px solid; */
    margin: auto;
    position: relative;
}

.videoWrapper >div {
    padding-top: 57%;
}
.videoWrapper iframe {
    position: absolute;
    border-radius: 5px;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    
}

/* 
@media (max-width:1700px){
    .root{
        min-height: 100vw;
    }
} */