.tileOwner{
    background-color: white;
    color: black;
    padding: 0 1rem;
    min-height: 15dvh;
    max-width: 800px;
    margin: 0 auto;
    
    
}
.tileOwnerInfo{
    display: flex;
}
.ownerName{
    font-weight: bolder;
    color:black;
    margin: 0;
}
.duration{
    color: gray;

    margin-top: 0;
}
.ownerText{
    margin-left: 15px;
}

.ownerImg{
    height: 50px;
    width: 50px;
    object-fit:cover;
    border-radius: 50%;
}
