#root {
  max-width: 1680px;
  width:100%;
   margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
  /* background-color: black; */
}

 .nav{
  position: fixed;
  top:-2rem;
  left:0;
  width:100%;
  background-color: white;
  padding-top: 0px;
  height:0px;
  display: hidden;
  box-sizing: border-box;
  z-index: 100;
} 


/* .box{
  background-color: gray;
  max-width: 700px;
  margin: 0 auto;
  height: 400px;
}

.box frame{
  margin-top: 30px;
} */
