.uploadVideo{
    /* margin-top: 3.75rem; */
    max-width: 60rem;
    margin :3.75rem auto 0 auto;
    padding-top: 1rem;
    height: 98vh;
}

.insertLink{
    height:6rem;
}

.convert-button{
    padding: 1rem;
}

/* .output-link-here{
    margin-top: 2rem;
} */